@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
:root {
    --background: #121d28;
    --text: #bbd7f2;
    --header: #bbd7f2;
    --highlight: #7ceea7;
}
body{
    margin: 0px;
}
.background {
    background-color: var(--background);
    width: 100%;
    min-height: 100%;
}
.contentpane {
    margin: auto;
    width: 60%;
    min-height: 100%;
}
h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28pt;
    font-weight: 600;
    color: var(--header);
    padding: 50px 0px 15px 0px;
}
p {
    text-align: left;
    text-indent: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    color: var(--text);
    padding: 15px 50px 15px 50px;
}
a {
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    
}
a:hover {
    color: var(--highlight);
}
a.pagelink {
    font-size: 125%;
    padding: 15px 50px 15px 80px;
    display: block;
}
a.backbutton {
    font-style: normal;
    font-size: 80%;
    text-decoration: none;
    padding: 0px;
}
