@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
    /* COLOURSCHEME 1, BLUE */
    /*
    --background: #121d28;
    --text: #bbd7f2;
    --header: #bbd7f2;
    --secondary: #76baf9;
    --highlight: #7ceea7;
    */
    /* COLOURSCHEME 2, ORANGE */
    --background: #141210;
    --header: #fdb04d;
    --text: #faca8b;
    --secondary: #ee8041;
    --highlight: #ee4c41;
}

body {
    margin: 0px;
    background-color: var(--background);
}

@media (max-aspect-ratio: 6/7) {
    .contentpane {
        margin: auto;
        width: 100%;
        min-height: 100%;
    }
}

@media (min-aspect-ratio: 7/7) {
    .contentpane {
        margin: auto;
        width: 60%;
        min-height: 100%;
    }
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28pt;
    font-weight: 600;
    color: var(--header);
    padding: 50px 50px 3px 50px;
    margin: auto auto 0px auto;
}

p {
    text-align: left;
    text-indent: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    color: var(--text);
    padding: 8px 50px 8px 50px;
}

a {
    color: var(--secondary);
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    color: var(--highlight);
}

h3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    color: var(--text);
    padding: 8px 50px 8px 50px;
}

h3.nav {
    padding: 3px 50px 8px 50px;
    margin: 0px auto auto auto;
}

ul h3 {
    font-style: italic;
    text-align: left;
    text-indent: 25px;
    padding: 8px 50px 8px 2px;
}

ul h3 a {
    font-style: italic;
}

a.backbutton {
    font-style: normal;
    font-size: 80%;
    text-decoration: none;
    padding: 0px;
}

ul {
    list-style-position: outside;
    padding: 0px 0px 0px 75px;
}

li {
    color: var(--highlight);
}