@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
:root {
    /* COLOURSCHEME 1, BLUE */
    /*
    --background: #121d28;
    --text: #bbd7f2;
    --header: #bbd7f2;
    --secondary: #76baf9;
    --highlight: #7ceea7;
    */
    /* COLOURSCHEME 2, ORANGE */
    --background: #141210;
    --header: #fdb04d;
    --text: #faca8b;
    --secondary: #ee8041;
    --highlight: #ee4c41;
}
body{
    margin: 0px;
}
.background {
    background-color: var(--background);
    width: 100%;
    min-height: 100%;
}
.contentpane {
    margin: auto;
    width: 60%;
    min-height: 100%;
}
h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28pt;
    font-weight: 600;
    color: var(--header);
    padding: 50px 0px 15px 0px;
}
p {
    text-align: left;
    text-indent: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
    color: var(--text);
    padding: 2px 50px 2px 50px;
}
a {
    color: var(--secondary);
    font-family: 'Quicksand', sans-serif;
    font-style: italic;   
}
a:hover {
    color: var(--highlight);
}
ul h2 {
    text-align: left;
    text-indent: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    font-weight: 600;
    font-style: italic;
    color: var(--text);
    padding: 15px 50px 15px 50px;
}
h2 a {
    font-size: 100%;
    font-style: italic;
}
a.backbutton {
    font-style: normal;
    font-size: 80%;
    text-decoration: none;
    padding: 0px;
}
ul {
    padding-left: 0px;
}
li {
    list-style-position: inside;
    color: var(--highlight);
}